*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1A1A1A;
}

header{
    border-bottom: 2px solid #2D2E36;
    /* grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: 
    "img nav boton";

    align-items: center;
    padding: 25px;
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav{
    grid-area: nav;
}

header nav ul li{
    margin: 5px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header div{
    grid-area: boton;
    display: flex;
    align-items: center;
    justify-content: center;

}

header div img{
    width: 35px;
}

header div a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 25px;
}

header img{
    width: 10rem;
    grid-area: img;
}


.anuncio{
    padding: 5px;
    background-color: yellow;
}

.anuncio p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


section h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

section p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

section div {
    display: flex;
    justify-content: center;
}

section div a{

    text-decoration: none;
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

section .parrafo-1{
    text-align: center;
    color: yellow;
}


@media screen and (max-width: 958px){


    nav{
        display: none;
    }

    .enlace-plataforma{
        display: none;
    }
}

@media screen and (min-width: 426px)  and  (max-width: 1024px){

}
